*~
*.o
*.s
bin/*
!bin/setup-i386-toolchain
asm/*
doc/*
examples/*
publish
*#
.*
vendor/*
toolchain/
features/inputs/*
out/*
test_*
!test/test_localdev.sh
debug_*
rubyspec_temp*
rubyspec/*
!rubyspec/simple_tests/
tmp/*
